<%- include("header") -%>

<h2>About This App</h2>

<p>You can use this application to make a TODO list for the day! *Can be access via the root directory*</p>
<p>You can also use this app to make a TODO list for your work/school. *Can be accessed via root/work directory*</p>

<%- include("footer") -%>